body {background-color:cornflowerblue;
}
h1{text-align: center;}
h1{background-color:white;}
#ima1{width: 570px;
    border-color: black;
    border-style: solid;
}
#ima2{width: 570px;
    border-color: black;
    border-style: solid;}
h4{font-size:10%;}